{% extends 'base.html.twig' %}
{% block title %}Qui sommes nous?{% endblock %}    
{% block body %}
    {% set class_header = 'header_about' %}
    {% include 'models/header.html.twig'%}
<section id="about">
    <div>
        <div>Qui sommes nous?</div>
        <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci id esse vitae qui culpa temporibus ipsum quae earum rerum iste blanditiis, ex error! Voluptatum fugit nobis facere velit ullam corporis!
        </div>
    </div>
    <div><img src="" alt=""></div>
</section>
<section>
    <div>
        <div><img src="" alt=""></div>
        <div>Lorem ipsum dolor sit</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Lorem ipsum dolor sit</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Lorem ipsum dolor sit</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Lorem ipsum dolor sit</div>
    </div>
</section>
<section>
<div>Notre équipe de choc</div>
<div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
    <div>
        <div><img src="" alt=""></div>
        <div>Nom Prénom</div>
        <div>Fonction</div>
    </div>
</div>
<a href="">Nous contacter</a>
</section>
<section>
    <div>Des vacances qui vous ressemblent !</div>
    <div>
        <div>
            <div><img src="" alt=""></div>
            <div>En famille</div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>En couple</div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>Ou seul</div>
        </div>
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deserunt, numquam sed asperiores tempora sunt modi harum dolorum dolore molestiae autem cupiditate? Suscipit cum laudantium ipsa eum ex quo. Ut.
    </div>
</section>
<section id="gift_search">
    <div>
        <div><img src="" alt=""></div>
        <div>
            <div>A la recherche du cadeau idéal ?</div>
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
            <a href="">Nos cartes cadeaux</a>
        </div>
    </div>
</section>
<section id="commitment">
    <div>Nos engagements</div>
    <div>
        <div>
            <div><img src="" alt=""></div>
            <div>Titre</div>
            <div>description</div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>Titre</div>
            <div>description</div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>Titre</div>
            <div>description</div>
        </div>
        <div>
            <div><img src="" alt=""></div>
            <div>Titre</div>
            <div>description</div>
        </div>
    </div>
</section>
<section>
    <div><img src="" alt=""></div>
    <div>
        <div>Titre</div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit pariatur quisquam, natus aut earum inventore itaque beatae quasi, ut officiis aspernatur repellat quia placeat expedita. Facilis voluptatibus cupiditate perspiciatis!
        </div>
        <a href="">Trouver votre destination</a>
    </div>
</section>
<section>
    <div>
        <div>En savoir plus</div>
        <div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <p>Titre</p>
                    <p>Desc</p>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div>
                    <p>Titre</p>
                    <p>Desc</p>
                </div>
            </div>
            <div>
                <div>Besoin de nous rejoindre ?</div>
                <div>
                    <a href="" class='text-2xl mr-4'><i class="fa-brands fa-facebook"></i></a>
                    <a href="" class='text-2xl mr-4'><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class='text-2xl mr-4'><i class="fa-brands fa-linkedin-in"></i></a>
                    <p>Suivez nous sur nos résaux</p>
                </div>
                <a href="">Contactez nous</a>
                <div>
                    Vous pouvez également nous <a href="mailto:">envoyer vos remarques</a> 
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}