{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}
    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% include 'partials/header.html.twig'%}

    <div class=" w-11/12 mx-auto">
        <section class='promotion' id='promotion'>
            <div>Section Promotion titre</div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
            <div>
                <div>
                {# https://kenwheeler.github.io/slick/ #}
                    <button type="button" data-role="none" class="" aria-label="" role="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
				    <div aria-live="polite" class="">
                        <div class="" role="listbox">
                            <div class="" data-slick-index="-4" aria-hidden="true" s tabindex="-1">
					            <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </div>
                                </div>
                            </div>
                            <div class="" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 140px;" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="0" aria-hidden="false"  tabindex="-1" role="option" aria-describedby="slick-slide30">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="1" aria-hidden="false"  tabindex="-1" role="option" aria-describedby="slick-slide31">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide32">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide33">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="4" aria-hidden="true"  tabindex="-1" role="option" aria-describedby="slick-slide34">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="5" aria-hidden="true"  tabindex="-1" role="option" aria-describedby="slick-slide35">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                        </div>	
					 <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">
                     <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div></div>
            <div></div>
        </section>
        {# ------------------------------------------ #}
        <section>
            {# Séparation #}
        </section>
        <section id="about">
            <div>
                <div class="div">
                    <div>
                        <div>Qui sommes nous ?</div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                    </div>
                    <div>
                        <a href="">Mieux nous connaitre</a>
                        <div>
                        </div><img src="" alt=""></div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <a href="">Nous contactez</a>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
            </div>
        </section>
        <section id="home_category">
        {# Cat_7 model #}
        <div>Nos catégories</div>
            <div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>
                        {# Bon cadeau #}
                    </div>
                    <div>
                        {# remene sur une page ? #}
                    </div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
            </div>
        </section>
        <section id="present">
            <div>
                <div>Offrez un cadeau</div>
                <a href="">Commander</a>
            </div>
            <div><img src="" alt=""></div>
        </section>
        <section>
            {# Séparation #}
        </section>
        <section>
            <div>Titre de présentation</div>
            <div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>Titre hébergement régions</div>
            <div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
            </div>
            <a href="">Toutes nos destinations</a>
        </section>
        <section>
            {# Séparation plantation arbres #}
            <div><img src="" alt=""></div>
        </section>    
    </div>
{% endblock %}
