{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}
    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% include 'partials/header.html.twig'%}

<div class=" w-11/12 mx-auto">




</div>
{% endblock %}
