{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}
    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% include 'partials/header.html.twig'%}

    <div class=" w-11/12 mx-auto">
        <section class='promotion'>
            <div>Section Promotion titre</div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
            <div>
                <div>
                {# https://kenwheeler.github.io/slick/ #}
                    <button type="button" data-role="none" class="" aria-label="" role="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
				    <div aria-live="polite" class="">
                        <div class="" role="listbox">
                            <div class="" data-slick-index="-4" aria-hidden="true" s tabindex="-1">
					            <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </div>
                                </div>
                            </div>
                            <div class="" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 140px;" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="0" aria-hidden="false"  tabindex="-1" role="option" aria-describedby="slick-slide30">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="1" aria-hidden="false"  tabindex="-1" role="option" aria-describedby="slick-slide31">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide32">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide33">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="4" aria-hidden="true"  tabindex="-1" role="option" aria-describedby="slick-slide34">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="5" aria-hidden="true"  tabindex="-1" role="option" aria-describedby="slick-slide35">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <div class="promo">
                                    
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>Titre</div>
                                        <div>Tarif</div>
                                    </div>
                                    <div>Lieux</div>
                                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                </div>
                            </div>
                        </div>	
					 <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">
                     <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div></div>
            <div></div>
        </section>



    </div>
{% endblock %}
