{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}

    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% set title_h1 = 'Ma page acceuil' %}
    {% include 'models/header.html.twig'%}

    <div class=" w-11/12 mx-auto">
        <section class='promotion' id='promotion'>
            <div>Section Promotion titre</div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
            <div>
                <div>
                {# https://kenwheeler.github.io/slick/ #}
                    <button type="button" data-role="none" class="" aria-label="" role="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
				    <div aria-live="polite" class="">
                        <div class="" role="listbox">
                        {# {% for promotion in promotions %} #}
                        {% for promotion in promotions %}
                            <div class="" data-slick-index="-4" aria-hidden="true" s tabindex="-1">
					            <div class='IMG'>
                                    <div class="promo">
                                        <div>Ca Marche !</div>
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{{promotion.title}}</div>
                                        <div>{{promotion.tarif}}</div>
                                    </div>
                                    <div>{{promotion.lieux}}</div>
                                    <div>{{promotion.description}}</div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>	
					 <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">
                     <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div></div>
            <div></div>
        </section>
        {# ------------------------------------------ #}
        <section>
            {# Séparation #}
        </section>
        <section id="about">
            <div>
                <div class="div">
                    <div>
                        <div>Qui sommes nous ?</div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                    </div>
                    <div>
                        <a href="">Mieux nous connaitre</a>
                        <div>
                        </div><img src="" alt=""></div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <a href="">Nous contactez</a>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
            </div>
        </section>
        <section id="home_category">
        {# Cat_7 model #}
        <div>Nos catégories</div>
            <div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>
                        {# Bon cadeau #}
                    </div>
                    <div>
                        {# remene sur une page ? #}
                    </div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
            </div>
        </section>
        <section id="present">
            <div>
                <div>Offrez un cadeau</div>
                <a href="">Commander</a>
            </div>
            <div><img src="" alt=""></div>
        </section>
        <section>
            {# Séparation #}
        </section>
        <section>
            <div>Titre de présentation</div>
            <div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>Titre hébergement régions</div>
            <div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
            </div>
            <a href="">Toutes nos destinations</a>
        </section>
        <section>
            {# Séparation plantation arbres #}
            <div><img src="" alt=""></div>
        </section>    
    </div>
{% endblock %}
