<div id=""content>
    {# foeach groups in group #}
    <div class="slide">
        {# foreach group as promo #}
        <div class="promo"></div>
        <div class="promo"></div>
        <div class="promo"></div>
        {# enforeach #}
    </div>
    {# enforeach #}

    <div class="slide">
        <div class="promo"></div>
        <div class="promo"></div>
        <div class="promo"></div>
    </div>

    <div class="slide">
        <div class="promo"></div>
        <div class="promo"></div>
        <div class="promo"></div>
    </div>
</div>