{% extends 'base.html.twig' %}
{% block title %}Qui sommes nous?{% endblock %}    
{% block body %}
    {% set class_header = 'header_list' %}
    {% include 'models/header.html.twig'%}
   <section class='promotion' id='promotion'>
            <div>Section Promotion titre</div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
            <div>
                <div>
                {# https://kenwheeler.github.io/slick/ #}
                    <button type="button" data-role="none" class="" aria-label="" role="button">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    {# Chercher la requette sql classer par cat promo #}
                    



                    {# 
				    <div aria-live="polite" class="">
                        <div class="" role="listbox">
                             <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                          <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                           <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                             <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                            <div class="" data-slick-index="6" aria-hidden="true" tabindex="-1">
                                <div class='IMG'>
                                    <img src="IMG/hebergement_img" alt="">
                                    <div class="promo">
                                    {% hebergement_promo %}
                                    </div>
                                </div>
                                <div class=''>
                                    <div>
                                        <div>{% hebergement_nom %}</div>
                                        <div>{% hebergement_tarif %}</div>
                                    </div>
                                    <div>{% hebergement_lieu %}</div>
                                    <div>{% hebergement_descriptions %}</div>
                                </div>
                            </div>
                        </div>	
					 <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">
                     <i class="fa-solid fa-angle-right"></i>
                    </button>
                    #}
                </div>
            </div>
            {#
            <div></div>
            <div></div>
        </section>
        <section id="hebergement">
        {# Chercher la requette sql qui affiche tout les hebergement 
        <div>Titre</div>
        <div>
            <div>
                <div>
                    <div>
                        {# Image di logement avec montage carte de la région inclus dedans 
                        <img src="IMG/{% hebergement_img_carte %}" alt="{% hebergement_nom %}">                        
                    </div>
                    <div>
                        <div>
                            <div>{% hebergement_nom %}</div>
                            <div>{% hebergement_tarif %}</div>
                        </div>
                        <div>{% hebergement_lieu %}</div>
                        <div>{% hebergement_descriptions %}</div>
                    </div>
                </div>
                <div>
                    <a href="">Choisir</a>
                </div>
            </div>

           <div>
           {# Faire une condition en fonction du nombre de page + nb d'articles par page limite 
                <ul>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                     <li>
                        <a href="">3</a>
                    </li>
                </ul>
           </div> 
        </div>

        </section>
         #}
{% endblock %}