<footer class='px-2 sm:px-4 py-2.5  bg-white'>
    <div class=" ml-auto grid gap-16 grid-cols-3 items-center justify-between w-11/12 py-8">
        <div class=''>
            <div class="mb-3">
                <a href="#" aria-current="page">
                 <img src="{{ asset('IMG/logo.jpg') }}" class="logo" alt="logo">
                    {# <i class="fa-solid fa-campground mr-3 h-6 sm:h-9"></i> #}
                </a>            
            </div>
            <div class="mb-3">
                <div class='text-2xl font-semibold'>Le Refuge Insolite</div>
                <div class='text-xl'>Évadez-vous de la routine quotidienne et plongez dans l'expérience unique de nos hébergements de qualité</div>
            </div>
            <div class="mb-3 ">
                <ul class="my-4 grid gap-4 grid-cols-3 w-2/4">
                    <li class=''>
                        <a href="" class='text-xl  px-2 py-1 bg-gray-500 text-white rounded-lg'><i class="fa-brands fa-facebook "></i></a>
                    </li> 
                    <li class=''>
                         <a href="" class='text-xl  px-2 py-1 bg-gray-500 text-white rounded-lg'><i class="fa-brands fa-instagram "></i></a>
                    </li>
                    <li class=''>
                        <a href="" class='text-xl  px-2 py-1 bg-gray-500 text-white rounded-lg'><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>            
                </ul>
            </div>
            <div class="font-semibold text-xl">06 00 00 00 00</div>
        </div>
        <div class=" flex  justify-center w-3/5">
            <ul class=' mt-14'>
                <li class="mb-3">
                    <a href="#">Qui sommes nous ?</a>
                </li>
                <li class="mb-3">
                    <a href="#">Carte cadeau</a>
                </li>
                <li class="mb-3">
                    <a href="#">Contact</a>
                </li>
                <li class="mb-3">
                    <a href="#">Mention légales</a>
                </li>
                <li class="mb-3">
                    <a href="#">Assurance annulation</a>
                </li>
            </ul>
        </div>
        <div>
            <div class='font-semibold text-xl'>Restez informé</div>
            <div class=" my-4 px-2 py-1 bg-gray-600 text-white w-2/5 text-center rounded-lg">
                <a href="#" class='text-xl font-semibold uppercase '>Newsletter</a>
            </div>
        </div>
    </div>

</footer>