<footer class='px-2 sm:px-4 py-2.5  bg-white'>
    <div class="mx-auto grid gap-9 grid-cols-3 items-center justify-between w-11/12">
        <div class=''>
            <div>
                <a href="#" class="" aria-current="page">
                    <i class="fa-solid fa-campground mr-3 h-6 sm:h-9"></i>
                </a>            
            </div>
            <div>
                <div>Nom de la société</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam amet eaque non saepe vitae</div>
            </div>
            <div>
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                         <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>                
            </ul>
            </div>
            <div>06 00 00 00 00</div>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Qui sommes nous ?</a>
                </li>
                <li>
                    <a href="#">Carte cadeau</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Mention légales</a>
                </li>
                <li>
                    <a href="#">Assurance annulation</a>
                </li>
            </ul>
        </div>
        <div>
            <div>Restez informé</div>
            <div>
                <a href="#">Newsletter</a>
            </div>
        </div>
    </div>

</footer>