<div class="slide_container">
    <div class="slide_content">
        <div class="card_wrapper">
            <div class="card">
                <div class="image_content">
                    <span class="overlay"></span>
                    <img src="https://picsum.photos/400/300" alt="hébergements en promotion">

                </div>
            </div>
        </div>
    </div>
</div>