<section>
    <div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
        <div><img src="" alt=""></div>
    </div>
    <div>
        <a href="">Condition Générales de vente</a>
        <a href="">Rétractation & remboursement</a>
        <a href="">Mentions légales</a>
        <a href="">Nous découvrir</a>
    </div>
    <div>Contactez-nous: France - Numéro de téléphone : +33 (0)6 00 00 00</div>
    <div>Nous traitons vos données personnelles dans le but exclusif d'administrer votre commande, communiquer les informaion nécessaires à un sujet, gérer le paiement et la facturation, réaliser des statistiques. Vous disposez de droits d'accès, de rectification, d'effacement.Pour les exercer et en savoir plus, cliquez ici.</div>
    <div>Tous droits réservés - {% societe_nom %} - Généré par <a href="">Pauline FRARE-PRADAL</a></div>
</section>