@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: dancing_SB;
    src: url("./fonts/dancing_script/DancingScript-SemiBold.ttf");
  }
  @font-face {
    font-family: dancing_B;
    src: url("./fonts/dancing_script/DancingScript-Bold.ttf");
  }
  @font-face {
    font-family: dancing_R;
    src: url("./fonts/dancing_script/DancingScript-Regular.ttf");
  }
  @font-face {
    font-family: dancing_M;
    src: url("./fonts/dancing_script/DancingScript-Medium.ttf");
  }
  body {
    background-color: #efefef;
    overflow-x: hidden;
    font-family: "Noto Sans JP", sans-serif;
  }
  .navbar1 li a, .navbar1 select, .navbar1 select option, .navbar2 li a, .navbar2 select, .navbar2 select option {
    font-size: 1rem;
  }
  .navbar1 select, .navbar2 select {
    font-weight: 600;
  }
  .navbar1 option, .navbar2 option {
    font-weight: 200;
  }
  .rubic {
    font-family: rubic;
  }
  .TestFont, h2 {
    font-family: "dancing_B";
    font-size: 3rem;
    color: #069669;
  }
  .dancing {
    font-family: "dancing_B";
  }
  .logo_150 {
    width: 150px;
  }
}
.header_home {
  height: 100%;
}

.hebergement_presentation {
  height: 600px;
}

.slide-container {
  width: 100%;
  height: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  padding: 2rem 0.5rem;
  background-color: transparent;
}

.card_wrapper {
  display: flex;
}

.card {
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 1.5rem 0 1.5rem 0;
  background: #FFF;
}
.card .image_content {
  width: 100%;
  display: flex;
  justify-content: end;
}
.card .image_content .card_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card_content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.card .card_content .card_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.card .card_content .card_height {
  height: 180px;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: rgba(195, 191, 191, 0.8);
  transform: translateY(-50%);
}
.swiper-navBtn:hover {
  color: black;
}
.swiper-navBtn::before, .swiper-navBtn::after {
  font-size: 35px;
  font-weight: blold;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
.min-content {
  height: -moz-min-content;
  height: min-content;
}

#home_category {
  min-height: 690px;
}
#home_category .fond-cat {
  background: url("/public/IMG/fond-cat.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#home_category .category_link {
  background: rgba(230, 250, 248, 0.5);
}

.countries_header {
  min-height: 300px;
}

.modal_container {
  transition: visibility 0.4s;
}

.overlay {
  transition: opacity 0.4s 0.2s ease-out;
}

.modal {
  transform: translate(-50%, calc(-50% - 50px));
  transition: opacity 0.4s ease-out, transition 0.4s ease-out;
}

.modal_container.active {
  visibility: visible;
  transition: visibility 0s;
}
.modal_container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}
.modal_container.active .modal {
  opacity: 1;
  transform: translate(-50%, 10%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.formGroup {
  position: relative;
  display: flex;
  margin-top: 10px;
}
.formGroup label {
  position: absolute;
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.4s ease-out;
}
.formGroup.top-0 {
  top: 0 !important;
}
.formGroup .buttonSub {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #1C6758;
  border-radius: 999px;
  background-image: linear-gradient(to right, transparent 50%, #1C6758 50%, #059669);
  background-size: 200%;
  color: #059669;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.formGroup:hover {
  color: transparent;
  background-position: 100%;
  border: 3px solid #fff;
}

.formGroup input {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 16px;
  transition: 0.4s ease-out;
}

.formGroup input.style_none {
  width: 30%;
  border-bottom: none;
}

.formBloc:last-child {
  justify-content: center;
}

footer {
  color: #FFF;
  background-color: #444941;
}/*# sourceMappingURL=app.css.map */