<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Séjour Atipique{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
           <!-- Css tailwindcss -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            

             <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
            {{ encore_entry_link_tags('app') }}          
            
        {% endblock %}      
    </head>
    <body>
        {% block body %}{% endblock %}
         {% include 'partials/footer.html.twig'%}
           {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# tailwindcss #}
             <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {# Swiper JS #}
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> 
            <script src="{{ asset('js/swiper.js') }}"></script>

            <script src="{{ asset('js/carousel.js') }}"></script>  
                       
            {% endblock %}        
    </body>
</html>
